h1 {color: blue;
	font-family: sans-serif; }
    margin: 5% 0;

    body .right {

        position: absolute;
        right: 0px;
        width: 300px;
        border: 3px solid #73AD21;
        padding: 15px;
      }

      hr { 
        display: block;
        margin-end: auto;
        margin-start: auto;
        border: 1px inset;
        overflow: hidden;
        margin-before: 0.5em;
        margin-after: 0.5em;
    }

    